{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson"
  ],
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "organizeImportsSkipDestructiveCodeActions": true,
  "overrides": [{ "files": ".prettierrc", "options": { "parser": "json" } }]
}
