@import url('@/style/base.less');

.header {
  display: block !important;
  padding: (16em / 14) (48em / 14);
  background-color: #131a35;
  .header-row {
    color: #39d0d8;
  }
}

.outside-layout {
  display: flex;
  flex-direction: column;
  .main-layout {
    flex: 1;
  }
}

.site-layout-background-sider {
  display: none;
}
.site-layout-background {
  background: #131a35;
}
.site-layout-background-sider {
  width: 224px;
}
.site-layout-background-content {
  background-color: #0c0927;
  border-top-left-radius: 1.25rem;
}

.scroll-menu-first,
.scroll-menu-second {
  background: #131a35;
  color: #39d0d8;
}

.ant-menu.scroll-menu-first {
  min-height: 120px;
  height: 300px;
  overflow-y: scroll;
  padding: 1rem;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  .ant-menu-item {
    display: flex;
    height: 3rem;
    padding: 10px 16px;
    align-items: center;
    margin-bottom: 0 !important;
    .sider-menuitem-icon {
      padding: 6px;
      margin-right: 0.75rem;
      border-radius: 8px;
      background: linear-gradient(
        162deg,
        rgba(59, 208, 216, 0.2) 28.7%,
        rgba(59, 208, 216, 0)
      );
    }
  }
}

.ant-menu.scroll-menu-second {
  .ant-menu-item {
    display: flex;
    height: 3rem;
    padding: 1rem 2rem 1rem 1.5rem;
    align-items: center;
    margin: 0 !important;
    .sider-menuitem-icon {
      margin-right: 0.75rem;
      display: 'grid';
      padding: 6px;
      border-radius: 0.5rem;
    }
    .ant-menu-title-content {
      font-size: 0.875rem;
    }
  }
}
.sider-divider {
  margin: 0.5rem 2rem;
  border-top: 1px solid rgba(57, 208, 216, 0.16);
}

.frosted-glass,
.frosted-glass-teal {
  --text-color: #fff;
  --border-color: #fff;
  --bg-board-color: hsla(0, 0%, 100%, 0.12);
  --bg-board-color-2: hsla(0, 0%, 100%, 0);
  position: relative;
  -webkit-backdrop-filter: blur(
    calc(var(--blur-size) * (-1 * var(--is-scrolling, 0) + 1))
  );
  backdrop-filter: blur(
    calc(var(--blur-size) * (-1 * var(--is-scrolling, 0) + 1))
  );
  color: var(--text-color);
  background: linear-gradient(
    162deg,
    var(--bg-board-color) 28.7%,
    var(--bg-board-color-2, var(--bg-board-color))
  );
  isolation: isolate;
}

.frosted-glass-teal:before,
.frosted-glass:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.7;
  background: transparent;
  border-radius: inherit;
  box-shadow: inset 0 0 0 var(--border-line-width, 1.5px) var(--border-color);
  -webkit-mask-image: radial-gradient(
      at -31% -58%,
      rgba(0, 0, 0, 0.5) 34%,
      transparent 60%
    ),
    linear-gradient(270deg, rgba(0, 0, 0, 0.2) 0, transparent 13%),
    linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  mask-image: radial-gradient(
      at -31% -58%,
      rgba(0, 0, 0, 0.5) 34%,
      transparent 60%
    ),
    linear-gradient(270deg, rgba(0, 0, 0, 0.2) 0, transparent 13%),
    linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}

.frosted-glass-teal {
  --text-color: #3bd0d8;
  --border-color: #58f3cd;
  --bg-board-color: rgba(59, 208, 216, 0.2);
  --bg-board-color-2: rgba(59, 208, 216, 0);
}
