.navs {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }
  li {
    margin-right: 1em;
  }
}
@import '~antd/dist/antd.css';
html {
  font-size: 16px;
}
body {
  height: 100%;
  font-family: Space Grotesk,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-feature-settings: "ss04","tnum" 1;
  color: var(--primary);
  background-color: #131a35;
}

.outside-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  .main-layout {
    flex: 1;
  }
}

.site-layout-background-sider {
  display: none;
}

@media screen and (min-width: 1000px){
  .site-layout-background-sider {
    display: block;
  }
  
}


.header {
  display: block!important;
  padding: (16em / 14) (48em / 14);
  background-color: #131a35;
  .header-row {
    color: #39d0d8;
  }
}


#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #131a35;
}
.site-layout-background-sider {
  width: 224px;
}
.scroll-menu-first,
.scroll-menu-second {
  background: #131a35;
  color: #39d0d8;
}

.site-layout-background-content {
  background-color: #0c0927;
  border-top-left-radius: 1.25rem;
}

.ant-menu.scroll-menu-first {
  min-height: 120px;
  height: 300px;
  overflow-y: scroll;
  padding: 1rem;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  .ant-menu-item {
    display: flex;
    height: 3rem;
    padding: 10px 16px;
    align-items: center;
  
  
    margin-bottom: 0!important;
    .sider-menuitem-icon {
      margin-right: 0.75rem;
    }
  }
}

.ant-menu.scroll-menu-second {
  .ant-menu-item {
    display: flex;
    height: 3rem;
    padding: 1rem 2rem 1rem 1.5rem;
    align-items: center;
    margin: 0!important;
    .sider-menuitem-icon {
      margin-right: 0.75rem;
    }
    .ant-menu-title-content {
      font-size: 28px;
    }
  }
}
.sider-divider {
  margin: 0.5rem 2rem;
  border-top: 1px solid rgba(57,208,216,.16);
}
.blue-purple-panel {
  border-radius: 21.2px;
  padding: 1.2px;
  background-image: linear-gradient(var(--gradient-rotate, 246deg), #da2eef 7.97%, #2b6aff 49.17%, #39d0d8 92.1%);
}
.bp-panel-bgroud {
  display: flex;
  padding: 1rem 1.5rem 2rem;
  border-radius: 1.25rem;
  background-image: linear-gradient(140.14deg,rgba(0,182,191,.15),rgba(27,22,89,.1) 86.61%),linear-gradient(321.82deg,#18134d,#1b1659);
}


.bp-inner-panel {
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #13103e;
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.frosted-glass-teal {
  color: #3bd0d8;
  border-color: #58f3cd;
  background-color: pink;

}
